.mustard-yellow {
    background-color: #bc8f32; /* Vitamin C, Turmeric and Curcumin */
}

.light-gray {
    background-color: #c7c7c9; /* Vitamin D, Melatonin, Probiotics */
}

.grayish-blue {
    background-color: #78787d; /* Zinc */
}

.dark-purple {
    background-color: #341c4e; /* Elderberry */
}

.light-brown {
    background-color: #a89759; /* Garlic */
}

.dark-gray {
    background-color: #4e4e4e; /* Apple Cider Vinegar */
}

.dark-red {
    background-color: #8a3d38; /* Ginger */
}

.green-apple {
    background-color: #7c986d; /* Apple Cider Vinegar Image */
}

.light-beige {
    background-color: #f0e5c9; /* Background around Vitamin D Image */
}

.light-pink {
    background-color: #e9c8c8; /* Background around Probiotics Image */
}