body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #267C85;
}

footer {
  padding: 3em 0;
  text-align: center;
}

.flex {
  display: -webkit-box;
  /* For old Safari */
  display: -moz-box;
  /* For old Firefox */
  display: -ms-flexbox;
  /* For IE 10 */
  display: -webkit-flex;
  /* For newer Safari and Chrome */
  display: flex;
  /* Standard syntax */
}

.flex-cc {
  align-items: center;
  justify-content: center;
}

.text-mw {
  max-width: 984px;
  margin: 0 auto;
}

.card {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 984px;
    flex-direction: row;
    text-align: left;
    margin-bottom: 40px;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

.card .img {
  width: 100%;
  background: #fff;
  position: relative;
  overflow: hidden;
}


.info {
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card .img::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 3px #000,
              inset 0 0 0 6px #fff;
}